<div class="header__container">
  <app-menu-bar></app-menu-bar>
  <app-menu-title></app-menu-title>
</div>

<div class="articles__container">
  <div class="articles__main">
    <app-big-card
      photoCover="https://miro.medium.com/v2/resize:fit:1400/format:webp/1*FvYPZlcWOvJH3Pwz-2P4tA.gif"
      cardTitle="Confira as grandes novidades do Angular 17"
      cardDescription="Como protocolo, uma nova versão do framework é lançada a cada 6 meses e dificilmente haviam mudanças significativas de uma versão pra outra. Isso não acontece mais, visto que as features desta nova versão vão mudar drasticamente a forma como escrevemos nossas aplicações."
    >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCover="https://pbs.twimg.com/media/F7_xo_bXIAAam-a?format=jpg&name=900x900"
      cardTitle="Nova sintaxe de templates"
      cardDescription="Agora é possível utilizar a nova sintaxe de templates, que permite a criação de templates de forma mais simples e intuitiva."
    ></app-small-card>
    <app-small-card
      photoCover="https://pbs.twimg.com/media/F9XW9AZXQAACqLK?format=jpg&name=small"
      cardTitle="Carregamento adiado de templates"
      cardDescription="Agora é possível carregar templates de forma adiada, o que permite a criação de aplicações mais rápidas e eficientes."
    ></app-small-card>
    <app-small-card
      photoCover="https://pbs.twimg.com/media/F5LkTohW4AAL0ze?format=jpg&name=small"
      cardTitle="Signal Based Components"
      cardDescription="Agora é possível criar componentes baseados em sinais, o que permite a criação de aplicações mais rápidas e eficientes."
    ></app-small-card>
  </div>
</div>
